$lightBlue: #BEC8CF;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

@import 'resets.scss';
@import 'utils.scss';
@import 'menu.scss';
@import '../components/music.scss';
@import '../components/project-templates/gallery.scss';
@import '../components/project-templates/video.scss';


body {
	font-family: Roboto;
	font-weight: lighter;
}

.nav-bar {
	position: fixed;
	bottom: 0px;
	height: 60px;
	width: 100%;
	background: rgba(255,255,255,0.7);
	padding-top: 10px;
}

.nav-bar div:first-child {
  position: fixed;
  right: 50%;
  margin-right: 25px;
}

.nav-bar div:nth-child(2) {
  position: fixed;
  left: 50%;
  margin-left: 25px;
}

.nav-bar div:last-child {
  position: fixed;
  left: 50%;
  margin-left: 75px;
}

.nav-bar div a {
	margin: 0px 10px;
	color: #888;
	font-size: 16px;
	text-decoration: none;
	line-height: 30px;
}

.project-description {
    width: 100%;
    color: #888;
    height: 30px;
    position: fixed;
    bottom: 20px;
    line-height: 30px;
}

.project-description div {
    width: 50%;
    text-align: center;
    padding: 0px 20px;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-link {
    height: 30px;
    width: 30px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    margin-left: -15px;
    background: $lightBlue;
    border-radius: 15px;
    cursor: pointer;
    transition: all .5s ease-in;
}

.menu-link.disabled {background: #EEE;}

.menu-link-background {
    position: fixed;
    height: 60px;
    background: rgba(255,255,255,0.7);
    width: 100%;
    bottom:0px;
}

.about {
    padding: 30px;
    font-size: 40px;
    color: #666;

    a {
        color: #666;
        text-decoration: none;
    }
}

.blurb {
    padding: 15px;
    font-size: 20px;
    color: #666;
}